<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCC Jornalismo</title>
    <link rel="stylesheet" href="/static-files/bootstrap-3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static-files/bootstrap-3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static-files/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 well">
                <h1>TCC Jornalismo</h1>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Notícias</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-lg-9">Notícia</th>
                            <th class="col-lg-3">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for noticia in noticias %}
                        <tr>
                            <td><a href="/noticia/{{ noticia.id }}">{{ noticia.titulo }}</a></td>
                            <td>{{ noticia.data }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12 well footer">
                <p>Desenvolvido por Núcleo Setorial De Informática - UFSM/FW</p>
            </div> 
        </div>
    </div>    
</body>
</html>